
$Bacground-color:#0E182A;
$primary-color:#6dd5ed;
$title-font: 'Fredoka One', cursive;
$text-font:'Rubik', sans-serif;
$white: rgba(122, 122, 122, 0.432);
$title: 64px;
$text: 14px;

@mixin normal-text {
     color:white;
     font-family: $text-font;
     font-weight: 600;
     font-size: $text;
}
::selection{
     background-color: black;
     color:inherit;
}

body{
     background-color: $Bacground-color
}
a{
     text-decoration: none;
     color:$primary-color;
}

.container{
     @include normal-text();
     display: grid;
     grid-template-columns: 25% 75%;
     height: 93vh;

     .sidebar{
          border-right:0.4px solid $white;
          background-color: $Bacground-color;

          #title{
               color:$primary-color;
               font-family: $title-font;
               font-size: 3rem;
               font-weight:400;
               padding-left: 4rem;
               line-height: 20px;
               padding-bottom:30px;
          }
     }
     .main{
          background-color: $Bacground-color;

          nav{
               position:absolute;
               top:0px;
               display: flex;
               justify-content: space-evenly;
               padding:0.5rem;
               width:73.8%;
               border-bottom: 0.4px solid $white;
               background-color: $Bacground-color;

               .mode{
                    color:$primary-color;
                    border: 2px solid $primary-color;
                    padding:0.35rem;
                    text-align: center;
                    border-radius: 20px;
                    width:8rem;
                    transition: background-color 500ms ease;
                    cursor: pointer;

                    &:hover{
                         background-color: $primary-color;
                         box-shadow: 0 5px 15px #6dd5ed77;
                         color:$Bacground-color;
                         
                    }
               }
               
          }
          #intro{
               color:rgba(255, 255, 255, 0.712);
               font-size:15px;
               position: relative;
               margin-left: 2.5rem;
               font-weight: 500;
               line-height: 25px;
          }

          #heading{
               margin-top: 1rem;
               font-size:$title;
               font-weight:900;
               font-family: 'roboto';
               margin-left: 2.5rem;

               #glow{
                    text-shadow: 5px 5px 1px $primary-color;
               }
          }
          #button{
               margin-left: 2.5rem;
               font-size: $text;
               color:$Bacground-color;
               background-color: $primary-color;
               padding:0.6rem 1rem;
               border-radius:20px;
               transition: box-shadow 500ms ease;

               &:hover{
                    box-shadow: 0 5px 15px #6dd5ed77;
               }
          }
     }
}

.main-section{
     margin-top:8rem;
     font-weight:900;

     #margin{
          border-top:0.4px solid $white;
     }

     #title{
          margin-left: 2.5rem;
          padding-top:1.5rem;
          font-family: 'roboto';
          font-size: 36px;
     }
     .comment-container{
          margin-left: 2.5rem;
          margin-bottom: 3rem;

          .comment-sec{
               border:none;
               outline:none;
               width:42%;
               display:inline-block;
               padding:5px;
               color:white;
               font-size:16px;
               background-color:rgba(255, 255, 255, 0);
               border-bottom: 1.2px solid white;
               font-family: $text-font;
               transition: border-bottom 300ms ease;
               margin-bottom:1rem;
               border-radius:2px;

               &:focus{
                    border-bottom: 2.5px solid $primary-color;
               }
          }
          #body{
               width:86%;
          }

     }
     #btns{
          margin-top:1rem;
          display: none;

          #comment-btn{
               outline:none;
               border: none;
               width:7rem;
               font-size: $text;
               color:$Bacground-color;
               background-color: $primary-color;
               padding:0.6rem 1rem;
               border-radius:20px;
               transition: box-shadow 500ms ease;
     
               &:hover{
                    box-shadow: 0 5px 15px #6dd5ed77;
               }
          }
     
          #cancel-btn{
               margin-left: 1rem;
               color:$primary-color;
               border: 2px solid $primary-color;
               padding:0.5rem 1rem;
               text-align: center;
               border-radius: 20px;
               background-color: transparent;
               width:5rem;
               display:inline-block;
               transition: background-color 500ms ease;
               cursor: pointer;
     
               &:hover{
                    background-color: $primary-color;
                    box-shadow: 0 5px 15px #6dd5ed77;
                    color:$Bacground-color;
                    
               }    
          }
     }

}

.comment{
     background-color: rgba(255, 255, 255, 0.1);
     width:80%;
     padding:1rem;
     border-radius: 5px;
     margin-top: 1.2rem;
     border-left: 2px solid $primary-color;

     #name{
          font-family: 'roboto';
          font-size: 15px;
          font-weight: 800;
     }
     #date{
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
          padding-left: 6px;
     }
     #body{
          margin-top: 6px;
          line-height: 150%;
          color:rgba(255, 255, 255, 0.8);
     }
}