
$Bacground-color:#0E182A;
$primary-color:#6dd5ed;
$title-font: 'Fredoka One', cursive;
$text-font:'Rubik', sans-serif;
$white: rgba(122, 122, 122, 0.432);
$title: 64px;
$text: 14px;

@mixin normal-text {
     color:white;
     font-family: $text-font;
     font-weight: 600;
     font-size: $text;
}
::selection{
     background-color: white;
     color:black;
}

body{
     background-color: $Bacground-color;
     perspective: 1000px;
}
a{
     text-decoration: none;
     color:$primary-color;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.cliked{
     background-color: $primary-color;
}
.container{
     @include normal-text();
     display: grid;
     grid-template-columns: 25% 75%;
     height: 93vh;

     .sidebar{
          border-right:0.4px solid $white;
          background-color: $Bacground-color;

          #title{
               color:$primary-color;
               font-family: $title-font;
               font-size: 3rem;
               font-weight:400;
               padding-left: 4rem;
               line-height: 20px;
               padding-bottom:30px;
          }
          .settings-container{
               padding:1rem;

               .setting{
                    font-size:17px;
                    padding:0.8rem 0px;
                    border-bottom:0.4px solid $white;
                    color:rgba(255, 255, 255, 0.9);
                    cursor: pointer;
                    transition: all 250ms ease;

                    &:hover{
                         color:$primary-color;
                         font-weight: 600;
                    }

                    .main-body{
                         display:none;
                         padding: 0.5rem;

                         .range{
                              width:10rem;
                         }
                         #border-radius{
                              width: 10rem;
                              margin-bottom: 10px;
                              
                         }

                         
                         select{
                              outline:none;
                              border:none;
                              height: 30px;
                              border-radius: 10px;
                              background-color: $Bacground-color;
                              color:white;
                              border:2px solid $primary-color;

                              &:focus{
                                   border:2px solid $primary-color;
                              }
                         }

                         .output{
                              background-color: $Bacground-color;
                              margin-left: 5px;
                              border: 2px solid $primary-color;
                              border-radius: 10px;
                              padding:0px 5px;
                              color:$primary-color;    
                         }
                         .option{
                              display: inline-block;
                              background-color: $Bacground-color;
                              margin:4px 2.5px;
                              border: 2px solid $primary-color;
                              border-radius: 10px;
                              padding:0px 5px;
                              color:$primary-color;

                              &:hover{
                                   background-color: $primary-color;
                                   box-shadow: 0 5px 15px #6dd5ed77;
                                   color:$Bacground-color;
                                   
                              }
                         }
                         .active{
                              border: 2px solid $primary-color;
                              border-radius: 10px;
                              padding:0px 5px;
                              margin:4px 2.5px;
                              background-color: $primary-color;
                              box-shadow: 0 5px 15px #6dd5ed77;
                              color:$Bacground-color;
                         }
                    }
               }
          }
     }
     .main{
          background-color: $Bacground-color;

          nav{
               position:absolute;
               top:0px;
               display: flex;
               justify-content: space-evenly;
               padding:0.5rem;
               width:73.8%;
               border-bottom: 0.4px solid $white;
               background-color: $Bacground-color;

               .mode{
                    color:$primary-color;
                    border: 2px solid $primary-color;
                    padding:0.35rem;
                    text-align: center;
                    border-radius: 20px;
                    width:8rem;
                    transition: background-color 500ms ease;
                    cursor: pointer;

                    &:hover{
                         background-color: $primary-color;
                         box-shadow: 0 5px 15px #6dd5ed77;
                         color:$Bacground-color;
                         
                    }
               }
               
          }
          #intro{
               color:rgba(255, 255, 255, 0.712);
               font-size:15px;
               position: relative;
               margin-left: 2.5rem;
               font-weight: 500;
               line-height: 25px;
          }

          #intro::before{
               content: '*';
               color: $primary-color;
          }

          #heading{
               margin-top: 1rem;
               font-size:$title;
               font-weight:900;
               font-family: 'roboto';
               margin-left: 2.5rem;
               min-height: 60px;

               #glow{
                    text-shadow: 5px 5px 1px $primary-color;
               }
          }
          #box{
               margin: 2.5rem;
               margin-bottom: 2rem;
               margin-top: 1.5rem;
               height:18rem;
               color:transparent;
               border-width: 15px;
               border-style:solid;
               border-color: $primary-color;
               border-radius: 15px;
               background-color: rgba(255, 255, 255, 0.1);
          }
          #flex-box{
               display:flex;
               margin: 2.5rem;
               margin-bottom: 2rem;
               margin-top: 1.5rem;
               height:18rem;
               justify-content: space-evenly;
               align-items: center;
               padding:10px 0px;
               flex-direction: row;
               border: 3px solid $primary-color;
               gap:5px;
               flex-wrap: wrap; 
               border-radius: 15px;
               background-color: rgba(255, 255, 255, 0.1);

               .flex-item{
                    background-color: $primary-color;
                    font-size:24px;
                    padding:1.5rem 2rem;
                    margin:0px 1px;
                    border-radius: 50%;
                    color:white;
               }
          }
          #shadow-box{
               margin: 32%;
               margin-bottom: 4rem;
               margin-top: 5rem;
               height:18rem;
               width:19rem;
               color:transparent;
               border-radius: 10px;
               box-shadow: $white 27px 19px 10px 2px ;
               background-color:$primary-color;
          }
          #transform-box{
               margin: 32%;
               margin-bottom: 6rem;
               margin-top: 5rem;
               height:16rem;
               width:17rem;
               color:transparent;
               border-radius: 30px;
               transform-style: preserve-3d;
               transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
               background-image: radial-gradient(circle, white, $primary-color);

          }
          #button{
               margin-left: 2.5rem;
               z-index:1;
               font-size: $text;
               color:$Bacground-color;
               background-color: $primary-color;
               padding:0.6rem 1rem;
               border-radius:20px;
               transition: box-shadow 500ms ease;

               &:hover{
                    box-shadow: 0 5px 15px #6dd5ed77;
               }
          }
          #result-container{
               display:none;
               .result{
                    min-height:10rem;
                    border:0.4px solid $white;
                    margin: 4rem 2.5rem;
                    padding:20px;
                    font-size: 16px;
                    background-color: rgba(255, 255, 255, 0.123);
                    border-radius: 10px;
                    line-height: 20px;
                    cursor:pointer;
                    color:rgba(255, 255, 255, 0.9);
                    transition: margin 250ms ease;

                    #note{
                         text-align: center;
                         color: #6dd5ed;
                         -webkit-touch-callout:none;
                         -webkit-user-select:none;
                         -moz-user-select:none;
                         -ms-user-select:none;
                         user-select:none;
                    }
                    &:active{
                         transform: scaleX(0.85) scaleY(0.85);
                    }
               }
          }
     }
}

.main-section{
     margin-top:8rem;
     font-weight:900;

     #margin{
          border-top:0.4px solid $white;
     }

     #title{
          margin-left: 2.5rem;
          padding-top:1.5rem;
          font-family: 'roboto';
          font-size: 36px;
     }
     .comment-container{
          margin-left: 2.5rem;
          margin-bottom: 3rem;

          .comment-sec{
               border:none;
               outline:none;
               width:42%;
               display:inline-block;
               padding:5px;
               color:white;
               font-size:16px;
               background-color:rgba(255, 255, 255, 0);
               border-bottom: 1.2px solid white;
               font-family: $text-font;
               transition: border-bottom 300ms ease;
               margin-bottom:1rem;
               border-radius:2px;

               &:focus{
                    border-bottom: 2.5px solid $primary-color;
               }
          }
          #body{
               width:86%;
          }

     }
     #btns{
          margin-top:1rem;
          transition:all 500ms ease;
          display: none;

          #comment-btn{
               outline:none;
               border: none;
               width:7rem;
               font-size: $text;
               color:$Bacground-color;
               background-color: $primary-color;
               padding:0.6rem 1rem;
               border-radius:20px;
               transition: box-shadow 500ms ease;
     
               &:hover{
                    box-shadow: 0 5px 15px #6dd5ed77;
               }
          }
     
          #cancel-btn{
               margin-left: 1rem;
               color:$primary-color;
               border: 2px solid $primary-color;
               padding:0.5rem 1rem;
               text-align: center;
               border-radius: 20px;
               background-color: transparent;
               width:5rem;
               display:inline-block;
               transition: background-color 500ms ease;
               cursor: pointer;
     
               &:hover{
                    background-color: $primary-color;
                    box-shadow: 0 5px 15px #6dd5ed77;
                    color:$Bacground-color;
                    
               }    
          }
     }

}

.comment{
     background-color: rgba(255, 255, 255, 0.1);
     width:80%;
     padding:1rem;
     border-radius: 5px;
     margin-top: 1.2rem;
     border-left: 2px solid $primary-color;

     #name{
          font-family: 'roboto';
          font-size: 15px;
          font-weight: 800;
     }
     #date{
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
          padding-left: 6px;
     }
     #body{
          margin-top: 6px;
          line-height: 150%;
          color:rgba(255, 255, 255, 0.8);
     }
}