{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:wght@300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'Css/base.css'%}">
     <title>Cssify</title>
</head>
<body>
     <div class="container">
          <div class="sidebar">
               <h1 id="title"><a href="{%url 'Home'%}">Cssify</a></h1>
               {% block sidebar %}  {% endblock sidebar %}
          </div>
          
          <div class="main">
               <nav>
                    <a id="FontStyle" href="{% url 'FontStyle'%}" class="mode">Font Style</a>
                    <a id="BorderStyle" href="{% url 'BorderStyle'%}" class="mode">Border</a>
                    <a id="FlexStyle" href="{% url 'FlexStyle'%}" class="mode">FlexBox</a>
                    <a id="ShadowStyle" href="{% url 'ShadowStyle'%}" class="mode">Box Shadow</a>
                    <a id="TransformStyle" href="{% url 'TransformStyle'%}" class="mode">Transform</a>
               </nav>
               {% block content %}  {% endblock %}
               {% include 'Acessories/coment-section.html' %}
          </div>
          
     </div>
</body>
</html>