
<div class="main-section">
     <div id="margin"></div>
     <h1 id="title">Comments <span style="font-size: 50%; margin-left: 50%;" >{{count}} Comments</span></h1>
     <form class="comment-container" method="POST">{%csrf_token%}
          {{form.comment}}
          {{form.name}}
          {{form.email}}
          <div id="btns">
               <button name="_comment" type="submit" id="comment-btn">COMMENT</button>
               <div id="cancel-btn">CANCEL</div>
          </div>
     </form>
     <div class='comment-container'>
          {%for comment in comments%}
          <div class="comment">
               <div>
                    <span id="name">{{comment.name}}</span>
                    <span id="date">{{comment.date_added|date:"d M, Y"}}</span>
                    <div id="body">{{comment.comment}}</div>
                    
               </div>
          </div>
          {% endfor %}
     </div>
</div>