{% extends 'Acessories/base.html' %} 

{% block sidebar %}  

{% endblock sidebar %}

{% block content %}
<div id='intro' style="margin-top: 6rem;">Comprehensive guide for building Charming and Beautiful Websites </div>
<div id='intro'>without any using complex CSS.</div>
<h1 id="heading">The modern way to style <br> <span id="glow">[websites & apps] </span> that <br>looks stunning and elegant</h1>
<a href="https://github.com/dark-glich" target="_blank" id='button'> Follow Me on Github </a>
{% endblock %}